.title{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 50px;
}

.title h2{
    font-size: 32px;
    color: var(--color-primary);
    margin-top: 5px;
    text-transform: none;
}


@media (max-width: 748px) {
    .title h2{
        font-size: 25px;
    }
}