.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 40px 40px 100px 40px;
}

.contact-info,
.form-container {
  flex-basis: 48%;
}

.contact-info {
  color: #fff;
}

.contact-info h3 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-info ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact-info ul li svg {
  margin-right: 10px;
  color: var(--color-primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title-contact {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: var(--color-primary);
}

.title-contact::before {
  width: 18px;
  height: 18px;
}

.title-contact::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title-contact::before,
.title-contact::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--color-primary);
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input+span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  color: var(--color-primary);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container button {
  font-size: 16px;
}

.form-container .result {
  text-align: center;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 18px;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media (max-width: 748px) {
  .contact {
    padding: 0 0 30px 0;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .contact h3 {
    font-size: 20px;
  }
}