@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}


body {
  background: #020024;
}

:root {
  --color-primary: blue;
  --color-text: #e0e0e0;
}


a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.site-container {
  padding-left: 10%;
  padding-right: 10%;
}

.back-black {
  background: black;
}

.title.color-blue p {
  color: var(--color-primary);
}


@media (max-width: 748px) {
  .site-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}